//  VARIABLES

//  Colors
$dark-color: #1a1a1a;
$light-color: rgb(240, 240, 240);
$golden-color:  rgb(184, 122, 28);
$background-color: rgb(192, 152, 93);
$dark-blue-color: rgb(32, 47, 57);
$transparent-golden-color: rgba(184, 122, 28, 0.9);
$transparent-silver-color:rgba(190, 190, 190, 0.8);
$transparent-light-color: rgba(240, 240, 240, 0.8);

//  Font size
$default-font-size: 1.15rem;
$larger-font-size: 1.3rem;
$large-font-size: 1.5rem;

//  Padding and margin values
$min-padding: 3%;

//  Shadow
$nav-shadow: 0px 10px 13px -7px rgba(65, 63, 63, 0.66), 0px 50px 50px 0px rgba(0, 0, 0, 0);
$form-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 80px rgba(0, 0, 0, 0.8) inset;
$modal-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;


//  Word and letter spacing
$default-word-spacing: 4px; 
$default-letter-spacing: 0.5px;
$h2-word-spacing: 5px;
$h2-letter-spacing: 1px;

//  Border- radius
$default-border-radius: 4px;


